# Application Configuration
PORT=3000
SECRET_KEY=your-secret-key-must-be-at-least-32-characters-long

# Flowcore Configuration
FLOWCORE_TENANT=your-tenant-name
FLOWCORE_DATACORE=flow-analytics
FLOWCORE_WEBHOOK_BASEURL=https://webhook.api.flowcore.io # this probably doesn't need to be changed
FLOWCORE_API_KEY=your-flowcore-api-key # go to your tenants settings to generate api key
FLOWCORE_TRANSFORMER_SECRET=analytics-transformer-secret # any key for local development, for prod generate key on platform

# Optional: Postgres for pathway state persistence
# POSTGRES_CONNECTION_STRING=postgresql://user:password@localhost:5432/analytics_db 