# Application Configuration
PORT=3000

# Secret key for salting visitor hash. generate in console with "node -e "console.log(require('crypto').randomBytes(32).toString('hex'))""
SECRET_KEY=your-secret-key-must-be-at-least-32-characters-long

# Flowcore Configuration
FLOWCORE_TENANT=your-tenant-name
FLOWCORE_WEBHOOK_BASEURL=https://webhook.api.flowcore.io # this probably doesn't need to be changed
FLOWCORE_API_KEY=your-flowcore-api-key # go to your tenants settings to generate api key
FLOWCORE_TRANSFORMER_SECRET=analytics-transformer-secret # any key for local development, for prod generate key on platform
POSTGRES_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/analytics_db # run the docker compose file. when you run project the table is created automatically